// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* page styles */
/* --------------------------------------------------------- */
body {
    margin: 0;
}
.pageHeader {
    position: absolute;
    top: 0;
    z-index: 1;
    margin-left: 0.5em;
    margin-top: 8px;
    padding: 0 8px;
    background: rgba(255, 255, 255, 0.67);
    padding: 0.5em;
    font-style: italic;
    font-family: "Century Schoolbook", serif;
}

.pageHeader h1 {
    margin: 0;
    margin-top: 8px;
}

.stats {
    position: absolute;
    bottom: 5em;
    left: 4em;
    z-index: 1;
    font-family: "Century Schoolbook", serif;
    text-align: center;
}

.stats .count {
    font-size: 5em;
    display: none; // hide until ready to animate
}

.stats .description {
    display: block;
    margin-top: -1em;
}


/* map styles */
/* --------------------------------------------------------- */

#map {
    width: 100%;
    height: 800px;
    border-bottom: 1px solid #e4e4e4;
}

.mapboxgl-popup {
    max-width: 400px;
}

.map-popup-title {
    font-weight: bold;
}

.incident-location {
    font-style: italic;
}

.incident-source a {
    color: inherit; // don't need blue; it's underlined so it stands out anyway.
}

.incident-date, .incident-location, .incident-source {
    display: inline-block;
    margin-right: 1em;
}

/* chart styles */
/* --------------------------------------------------------- */

svg.chart {
    position: absolute;
    bottom: 0;
    background: transparent;
    overflow: visible; // keep dots visible when they fly out of chart area
    pointer-events: none; // pass mouse events through to map beneath
}

// $bar-color: steelblue;
// $bar-color: yellow;
$bar-color: black;
$focus-color: yellow;

.chart circle {
     fill: DarkSlateGray;
     stroke: $focus-color;
}

.bar {
  fill: $bar-color;
  pointer-events: all; // grab mouse events (reverses `none` property from .chart parent)
}

.bar:hover {
  stroke: $focus-color;
}

.bar .bulge {
    fill: $bar-color;
    stroke: $focus-color;
}
.bar.emptied .bulge {
    fill-opacity: 1;
}
.bar.emptied rect {
    fill-opacity: 0.1;
    stroke: lighten($bar-color, 20%);
    stroke-width: 1px;
}
.bar.emptied:hover rect {
    stroke: $focus-color;
    fill-opacity: 1;
}
.bar.emptied text {
    fill: $bar-color;
    font-weight: bold;
}

.bar text {
    stroke: none;
    font-size: 8px;
    opacity: 0;
}

.bar:hover text {
    opacity: 1;
}
.axis {
  font: 10px sans-serif;
}

$axisColor: rgb(210,210,210);
.axis path,
.axis line {
  fill: none;
  stroke: $axisColor;
  shape-rendering: crispEdges;
}

.y.axis text {
    fill: $axisColor;
}
.x.axis path {
  display: none;
}
